:root{
    --spacing: 2rem;
    --height-switch: 2.5rem;
    --diameter-round-slider: 2.4rem;
    --width-slider-container: 10.5rem; /* Minimum width acceptable = 10rem */
    --height-block-accommodation-popular: 42rem;
    --body-width: 86rem;
    --width-search-bar: 25rem;
    --font-size-h2: 1.6rem;
    --font-size-h3 : 1.2rem;
    --font-size-p : 1rem;
    --color-primary: #0065fc;
    --color-secondary: #DEEBFF;
    --color-shade: #F2F2F2;
}