@import url("../assets/utils/reset.css");
@import url("../assets/utils/variables.css");

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
main, header, .footer__info{
    margin: 0 auto 0 auto;
    max-width: var(--body-width);
}
/*
    Modification nav bar dans le header
*/
.user-navigation {
    width: 25rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.user-navigation__select--active {
    font-weight: bold;
    color: var(--color-primary);
}
.user-navigation__select {
    text-decoration: none;
    height: 100%;
    line-height: 4rem;
    text-align: center;
    border-top: solid 0.15rem transparent;
    width: 33%;
}
.user-navigation__select:nth-child(-n+2) {
    color: black;
}
.user-navigation__select:hover {
    border-top: solid 0.15rem var(--color-primary);
    color: var(--color-primary);
}
/*
    Partie user search
*/
.user-search__title, .popular__title-container__title, .accommodation__title, .activity__title { /* Application d'une taille à tout les titres h2 / h1*/
    font-size: var(--font-size-h2);
    margin: var(--font-size-h2) 0 var(--font-size-h2) 0;
    font-weight: 600;
}
.user-search__input-container {
    background-color: var(--color-shade);
    width: var(--width-search-bar);
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 1rem;
}
.user-search__input-container__input {
    border: var(--color-shade) solid 1px;
    border-right: transparent;
    font-weight: bold;
    width: 90%;
    padding: .7rem;
}
.user-search__input-container__button {
    color: white;
    font-weight: bold;
    background-color: var(--color-primary);
    border: transparent;
    border-radius: 0 1rem 1rem 0;
    padding: .75rem;
    position: absolute;
    margin: 0;
    cursor: pointer

}
.user-search__input-container__button--mobile {
    display: none;
}
/*
    Partie filtre
*/
.user-filter {
    display: flex;
    align-items: center;
    max-width: 60rem;
    margin: calc(var(--spacing) / 2) 0 calc(var(--spacing) / 2) 0;
}
.user-filter__title, .popular__grid__card__name__title,
.accommodation__grid__card__name__title, .accommodation__show-more, .activity__grid__card__name,
.footer__info__about__title, .footer__info__accommodation__title, .footer__info__help__title {
    font-size: var(--font-size-h3);
    margin: var(--font-size-h3) 0 var(--font-size-h3) 0;
    font-weight: bold;
}
.user-filter__filter-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.fa-dog, .fa-child, .fa-money-bill-wave, .fa-heart {
    left: .6rem;
    top: .72rem;
}
.user-filter__filter-container__switch__subtitle, .user-filter__filter-container__switch__slider__subtitle     /* Texte afficher de base dans le slider*/ {
    font-weight: bold;
    position: absolute;
    right: calc(var(--height-switch) / 2);
    line-height: 2.5rem;
    user-select: none;
}
.user-filter__filter-container__switch__slider__subtitle--after        /* Texte afficher après la transition dans le slider */ {
    left: calc(var(--height-switch) / 2);
    top: -.1rem;
}
/*
    Scale hover all slider
*/
.user-filter__filter-container__switch:hover {
    transform: scale(1.05);
}
/*
    Round slider
*/
.user-filter__filter-container__switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 2px #d9d9d9;
    color: transparent;
    border-radius: 2rem;
    transition: .2s;
}
.user-filter__filter-container__switch__slider::before {
    position: absolute;
    content: "";
    height: var(--diameter-round-slider);
    width: var(--diameter-round-slider);
    left: -.1rem;
    bottom: -.075rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
    transition: .2s;
}
/*
    Transparent input checkbox square
*/
.user-filter__filter-container__switch__input-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
/*
    Logo position & color
*/
.fa-money-bill-wave, .fa-child, .fa-dog, .fa-heart {
    position: absolute;
    color: var(--color-primary);
    transition: .2s all;
}
/*
    Change color if input was checked
*/
.user-filter__filter-container__switch__input-checkbox:checked + .user-filter__filter-container__switch__slider {
    background-color: var(--color-primary);
    color: white;
}
/*
    Base of slider width
*/
.user-filter__filter-container__switch {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: .25rem;
}
/*
    Filtre switch toggle Economique & Romantique
*/
.user-filter__filter-container__switch {
    width: var(--width-slider-container);
    height: var(--height-switch);
}
.user-filter__filter-container__switch__input-checkbox:checked + .user-filter__filter-container__switch__slider::before,
.user-filter__filter-container__switch__input-checkbox:checked ~ .fa-money-bill-wave{
    transform: translateX(calc(var(--width-slider-container) - var(--height-switch)));
}
/*
    Filtre switch toggle Familial
*/
.user-filter__filter-container__switch--fam {
    width: calc(var(--width-slider-container) - var(--height-switch));
    height: var(--height-switch);
}
.user-filter__filter-container__switch--fam__input-checkbox:checked + .user-filter__filter-container__switch-fam__slider::before,
.user-filter__filter-container__switch--fam__input-checkbox:checked ~ .fa-child {
    transform: translateX(calc(var(--width-slider-container) - var(--height-switch) * 2 ));
}
/*
    Filtre switch toggle Animaux
*/
.user-filter__filter-container__switch--ani {
    width: calc(var(--width-slider-container) + var(--height-switch));
    height: var(--height-switch);
}
.user-filter__filter-container__switch--ani__input-checkbox:checked ~ .fa-dog,
.user-filter__filter-container__switch--ani__input-checkbox:checked ~ .user-filter__filter-container__switch-ani__slider::before{
    transform: translateX(var(--width-slider-container));
}
/*
    Text info after filter
*/
.user-info {
    display: flex;
    align-items: center;
}
.user-info > p {
    margin-left: .8rem;
}
.user-info__logo-info {
    border: #e7e7e7 solid 1px;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
}
.fa-info, .fa-star {        /* Color i for info and stars for rating*/
    color: var(--color-primary);
}
.lightStar {        /* Color for missing rating star */
    color: var(--color-secondary);
}
.popular {
    background-color: var(--color-shade);
    padding: 0 var(--spacing);
    margin-left: 2.3rem;
    border-radius: 1.5rem;
    height: var(--height-block-accommodation-popular);
    width: calc(var(--height-block-accommodation-popular) / 2);
    float: right;
}
.popular__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular__grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: var(--spacing);
}
.popular__grid__card {
    background-color: white;
    padding: .5rem;
    height: 10rem;
    box-sizing: border-box;
    border-radius: 1rem;
    user-select: none;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
}
.popular__grid__card:hover {
    transform: scale(1.01);
}
.popular__grid__card__img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 8.5rem;
    border-radius: .5rem 0 0 .5rem;
    float: left;
    margin-right: 1rem;
    -webkit-user-drag: none;
}
.popular__grid__card__name__subtitle, .accommodation__grid__card__name__subtitle, .user-search__subtitle, .user-info__paragraph {
    font-size: var(--font-size-p);
    margin: calc(var(--font-size-p)) 0 calc(var(--font-size-p)) 0;
}
.accommodation {
    background-color: var(--color-shade);
    display: flex;
    border-radius: 1.5rem;
    flex-direction: column;
    height: var(--height-block-accommodation-popular);
    padding: 0 var(--spacing);
}
.accommodation > a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 1.5rem;
}
.accommodation > .accommodation__grid {
    justify-content: center;
}
.accommodation__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.5rem;
    column-gap: 3rem;
}
.accommodation__grid__card {
    background-color: white;
    padding: .4rem .4rem .8rem .4rem;
    width: 100%;
    user-select: none;
    box-sizing: border-box;
    border-radius: 1.5rem;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
}
.accommodation__grid__card:hover {
    transform: scale(1.01);
}
.accommodation__grid__card__img {
    object-fit: cover;
    object-position: center;
    height: 8.4rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    -webkit-user-drag: none;
}
.accommodation__grid__card__name {
    margin-left: .8rem;
    line-height: .5rem;
}
.accommodation__show-more {
    cursor: pointer;
}
.activity {
    display: flex;
    flex-direction: column;
    padding: 2.3rem 0 2.3rem;
}
.activity__grid {
    display: grid;
    row-gap: 2.5rem;
    column-gap: 2.5rem;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "highRecommendation1 Recommendation1 highRecommendation2 Recommendation3"
    "highRecommendation1 Recommendation2 highRecommendation2 Recommendation4";
}
.activity__grid__card {
    border-radius: 1.5rem;
    user-select: none; 
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
    min-width: 18rem;
    text-decoration: none;
    color: black;
}
.activity__grid__card:hover {
    transform: scale(1.01);
}
.activity__grid__card--high-1 {
    grid-area: highRecommendation1;
}
.activity__grid__card--high-2 {
    grid-area: highRecommendation2;
}
.activity__grid__card--low-1 {
    grid-area: Recommendation1;
}
.activity__grid__card--low-2 {
    grid-area: Recommendation2;
}
.activity__grid__card--low-3 {
    grid-area: Recommendation3;
}
.activity__grid__card--low-4 {
    grid-area: Recommendation4;
}
.activity__grid__card__img {
    object-fit: cover;
    object-position: center;
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
    height: 9rem;
    -webkit-user-drag: none;
}
.activity__grid__card__img--high {
    height: 24.5rem;
}
.activity__grid__card__img--low-1 {
    object-position: 50% 42%;
}
.activity__grid__card__img--low-2 {
    object-position: 50% 28%;
}
.activity__grid__card__img--low-3 {
    object-position: top;
}
.activity__grid__card__img--low-4 {
    object-position: center;
}
.activity__grid__card__name {
    margin-left: 1rem;
}
footer {
    background-color: var(--color-shade);
    width: 100%;
    margin: 0;
}
.footer__info {
    display: flex;
    text-align: left;
    padding: 1rem 0 1rem 0;
}
.footer__info__about, .footer__info__accommodation, .footer__info__help {
    width: 33%;
}
.footer__info__about__link, .footer__info__accommodation__link, .footer__info__help__link {
    text-decoration: none;
    color: black;
}
.footer__info > * {
    list-style: none;
    line-height: var(--spacing);
}
@media only screen 
    and (min-width: 768px) 
    and (max-width: 1439px)  {
        main, header {
            margin: 0 var(--spacing) 0 var(--spacing);
        }
        .user-search__input-container__input {
            width: 90%;
        }
        .popular {
            float: none;
            margin-left: 0;
            margin-bottom: 2.3rem;
            padding-bottom: var(--spacing);
            height: auto;
            width: auto;
        }
        .popular__grid {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3rem;
        }
        .popular__grid__card {
            background-color: white;
            padding: .4rem .4rem .8rem .4rem;
            width: 100%;
            height: auto;
            border-radius: 1.5rem;
            text-decoration: none;
            color: black;
        }
        .popular__grid__card__img {
            object-fit: cover;
            object-position: center;
            height: 8.4rem;
            width: 100%;
            border-radius: 1rem 1rem 0 0;
            float: none;
        }
        .popular__grid__card__name {
            margin-left: .8rem;
            display: grid;
            grid-template-rows: repeat(1, 4rem);
        }
        .accommodation__grid__card__name {
            margin-left: .8rem;
            display: grid;
            line-height: initial;
            grid-template-rows: repeat(1, 4rem);
        }
        .accommodation {
            height: auto;
            padding-bottom: var(--spacing);
        }
        .activity__grid {
            grid-template-rows: repeat(1, 1fr);
            grid-template-areas: 
            "highRecommendation1 Recommendation1"
            "highRecommendation1 Recommendation2"
            "Recommendation3 highRecommendation2"
            "Recommendation4 highRecommendation2";
        }
        .footer__info {
            margin-left: var(--spacing);
        }
        .footer__info__about, .footer__info__accommodation, .footer__info__help {
            min-width: 10rem;
        }
        @media only screen 
        and (min-width: 768px) 
        and (max-width: 1023px)  {
            .user-filter {
                flex-wrap: wrap;
            }
            .user-filter__filter-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            .popular__grid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1fr;
                column-gap: 3rem;
            }
            .popular__grid__card:first-child {
                grid-row: 1 / -1;
            }
            .popular__grid__card:first-child .popular__grid__card__img:first-child {
                height: 28.6rem;
                object-position: 62% 50%;
            }
            .accommodation__grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            .footer__info {
                justify-content: space-between;
                margin-right: var(--spacing);
            }
            .footer__info__about, .footer__info__accommodation, .footer__info__help {
                width: auto;
            }
        }
    }
    @media only screen 
    and (min-width: 320px) 
    and (max-width: 767px) {
        .reservia-logo {
            position: relative;
            left: 1.3rem;
            top: .5rem;
        }
        header {
            flex-direction: column;
            align-items: flex-start;
            height: 8rem;
        }
        .user-choice {
            margin: 1rem 1rem 1rem 1rem;
            box-sizing: border-box;
        }
        .user-navigation {
            width: 100%;
            margin-top: 1rem;
        }
        .user-navigation__select {
            width: 50%;
        }
        .user-navigation__select:hover {
            border-top: solid 0.15rem transparent;
        }
        .user-navigation__select--activity-mobile {
            border-bottom: .2rem solid var(--color-shade);
        }
        .user-navigation__select--accommodation-mobile {
            border-bottom: .2rem solid var(--color-primary);
            color: var(--color-primary);
        }
        .user-navigation__sign {
            position: absolute;
            top: 0;
            right: 2rem;
            height: 3rem;
        }
        .user-search__input-container {
            width: 87%;
        }
        .user-search__input-container__input {
            width: 90%;
        }
        .user-search__input-container__button {
            display: none;
        }
        .user-search__input-container__button--mobile {
            display: inline-block;
            color: white;
            font-weight: bold;
            background-color: var(--color-primary);
            border: transparent;
            border-radius: 1rem;
            padding: .75rem;
            position: absolute;
            margin: 0;
        }
        .user-filter {
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .user-filter__filter-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .popular {
            float: none;
            margin-left: 0;
            margin-bottom: 2.3rem;
            width: 100%;
            height: auto;
            padding-bottom: var(--spacing);
            box-sizing: border-box;
        }
        .popular__grid__card {
            padding: .3rem;
            height: 9rem;
            border-radius: 1rem;
        }
        .popular__grid__card__img {
            border-radius: .7rem 0 0 .7rem;
        }
        .popular__grid__card__name {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-content: stretch;
        }
        .popular__grid__card__name > * {
            margin: 0;
        }
        .popular__grid__card__name__rating-stars {
            align-self: end;
        }
        .accommodation__grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .accommodation {
            height: auto;
            padding: 0;
            background-color: white;
        }
        .accommodation {
            margin: 0 var(--spacing) 0 var(--spacing);
        }
        .activity {
            margin: 0 calc(var(--spacing) / 2) 0 calc(var(--spacing) / 2);
        }
        .activity__grid {
            grid-template-rows: repeat(1, 1fr);
            grid-template-areas: 
            "highRecommendation1"
            "Recommendation1"
            "Recommendation2"
            "highRecommendation2"
            "Recommendation3"
            "Recommendation4";
        }
        .activity__grid__card__img {
            height: 9rem;
        }
        .footer__info {
            flex-direction: column;
            margin-left: var(--spacing);
        }
        .footer__info__about, .footer__info__accommodation, .footer__info__help {
            width: auto;
        }
        @media only screen  
        and (max-width: 359px) {
            .popular__grid__card__img {
                width: 6.5rem;
            }
        }
    }